@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');

body {
  padding-top: 54px;
  font-family: 'Amiri', serif !important;

}
.post_content_long{
	font-size: 25px; 
}
.post_content_short{
  font-size: 20px; 
  font-weight: normal; 
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
